.idea/
.DS_Store
.vscode/
CPP00/ex00/megaphone
CPP00/ex01/book
CPP00/ex02/account
CPP01/ex00/brains
CPP01/ex01/horde
CPP01/ex02/hi
CPP01/ex03/violence
CPP01/ex04/loser
CPP01/ex05/harl
CPP01/ex06/harlFilter
CPP02/ex00/fixed
CPP02/ex01/useful
CPP02/ex02/talking
CPP02/ex03/bsp
CPP03/ex00/open
CPP03/ex01/serena
CPP03/ex02/repetitive
CPP03/ex03/weird
CPP04/ex00/poly
CPP04/ex01/fire
CPP04/ex02/abstract
CPP04/ex03/interface
CPP05/ex00/mommy
CPP05/ex01/maggots
CPP05/ex02/no
CPP05/ex02/*_shrubbery
CPP05/ex03/coffee
CPP05/ex03/*_shrubbery
CPP06/ex00/convert
CPP06/ex01/serialize
CPP06/ex02/identify
CPP07/ex00/functions
CPP07/ex01/iter
CPP07/ex02/array
CPP08/ex00/easyfind
CPP08/ex01/span
CPP08/ex02/abomination
